// main: ../style.scss
/********************************
*********************************
SIDEBAR
*********************************
*********************************/
.site-sidebar {
  position: relative;
  z-index: 9;
  background: $sidebar-bg;
  border-right: 1px solid $theme-border-color;
  padding: 0;
  display: flex;
  flex-flow: column;
  padding-bottom: 30px;

  &.scrollbar-enabled {
    padding-right: 0;
  }
}

.sidebar-nav {
  flex: 1;
  padding: 0 em(15);
}

@media (max-width: $theme-breakpoint) {
  .scrollbar-enabled.site-sidebar {
    position: absolute;
  }

  .site-sidebar {
    display: none;
    width: em(420);
    max-width: 100%;
    position: absolute;
  }
}

.sidebar-collapse .sidebar-collapse-hidden {
  display: none !important;
}

/* Vertical Sidebar
========================*/
.side-menu {
  flex-direction: column;
  position: relative;
  line-height: em(30);
  margin-top: em(20);
  font-family: $headings-font-family;

  ul {
    font-size: em(12);
    font-weight: 300;
    margin-left: em(43,12);
    position: relative;
    top: -10px;

    ul {
      font-size: em(12);
      margin-left: em(15,12);
      top: 0;
    }
  }

  .collapse.in {
    display: block;
  }

  li {
    position: relative;

    a {
      color: $nav-link-color;
      position: relative;
      display: block;
      @include padding(0 null);
      font-weight: 500;
      &:hover { color: $color-scheme; }
    }
  }

  > li {
    > a {
      padding: em(6.5) 0 em(6.5) em(15);
      line-height: em(48);
      color: $nav-heading-link-color;
      border-top: 1px solid transparent;
      font-family: $headings-font-family;
      display: flex;
      align-items: center;

      &:hover,
      &:focus {
        color: $headings-color;
        background: transparent;
      }
      .hide-text {
        flex: 1;
      }
      i {
        font-size: em(18);
        vertical-align: middle;
        position: relative;
        top: -2px;
      }
    }

    > a .badge {
      position: relative;
      top: em(13,11);
      font-size: em(11,15);
      line-height: 1.2;
    }

    &::after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 1px;
      right: 0;
      background: rgba(255,255,255,.05);
    }
  }

  .sidebar-collapse & > li > a {
    padding: em(6.5) 0 em(6.5) em(20);
  }

  > li:first-child > a {
    border-top: 0;
  }

  .list-icon {
    margin-right: em(8,20);
    line-height: inherit;
  }

  :not([class*="color-"]) {
    > .list-icon {
      color: $nav-icon-color;
    }
  }

  .menu-item-has-children {
    > a {
      position: relative;
      &::before {
        font-family: 'feather';
        content: "\e928";
        position: absolute;
        right: em(10,18);
        top: 50%;
        transform: translateY(-50%);
        font-size: rem(12);
        color: #7b7b7b;
      }
    }
    &.active > a::before {
      content: "\e928";
    }
  }
}


/* Expanded Vertical Sidebar
========================*/
@media (min-width: #{$theme-breakpoint + 1px}) {
  .sidebar-expand {
    .site-sidebar {
      position: fixed;
      width: $sidebar-width;
      height: calc(100vh - #{$nav-height});

      .side-menu > li > a {
        border-top-color: $theme-border-color;
      }
    }
  }
}


/* Collapsed Vertical Sidebar
========================*/
@media (min-width: #{$theme-breakpoint + 1px}) {
  .sidebar-collapse {
    .site-sidebar {
      position: absolute;
      top: $nav-height;
      left: 0;
      width: $collapse-sidebar-width;
      bottom: 0;
      overflow: visible !important;
    }

    .hide-menu, .hide-menu .badge {
      display: none;
    }

    .sidebar-nav {
      padding: 0;
    }

    .side-menu {
      > li {
        &:hover {
          width: em(279,13);
          border-top-right-radius: 5px;
          > a {
            background: $nav-link-hover-color;
            display: block;
            z-index: 9;
            .hide-menu { display: inline-block }
          }

          .sub-menu {
            margin-top: em(15);
          }

          > a, .sub-menu {
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
          }
        }

        > a {
          transition: none;
          &::before { display: none; }
        }
      }

      li:hover {
        > .sub-menu { display: block; }
      }

      .sub-menu {
        position: absolute;
        top: em(48,13);
        left: calc(#{$logo-width} - 1px);
        width: calc(100% - #{$logo-width} + 1px);
        margin-left: 0;
        padding: 0 0 em(15,13);
        display: none;
        background: $nav-link-hover-color;
        z-index: 10;

        li {
          background: $nav-link-hover-color;
        }

        .sub-menu {
          left: 100%;
          top: 0;
          padding-top: em(15,13);
        }

        a {
          padding: 0 em(15,13) 0 em(25,13);
        }
      }
    }

    .sidebar-module {
      display: none;
    }
  }
}
